.socials {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  flex: 1;
}

.iconStyle {
  display: flex;
  color: #dec5ab;
  margin: 5px;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
}

.iconStyle:hover {
  transform: scale(1.2);
}
